.container
{
  display: flex;
  flex-direction: column;
  height: 100vh;

  align-items: center;
}

.entradas
{

  flex-direction: column;
}

input
{
  max-width: 2.5em;
  font-size: 3em;
}

h1
{
  font-family: cursive;
  font-size: 40px;
  color: #3ca6f5;
}

button
{
  background-color: #f9f003;
  border: 0px;
  color: white;
  font-size: 40px;
  elevation: 20px;
}

#numSort
{
  list-style: none;
  font-size: 3em;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

#numSort
{
  display: inline;
}
.result {
   margin-right: 20px;
   margin-top: 20px;
}
p
{
  font-size: 2em;
  color: black;
}
